<div class="container py-5">
    <div class="row">
        <div class="col-sm col-4 seatlist">
            <div class="row justify-content-end">
                <div class="col offset-8 py-3"><b class="bg-light">Front(Driver)</b> </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">
                            <p class="seat-icon booked" (click)="bookTicket()"> <span> <b
                                        class="seatnumber">S1</b></span></p>
                        </div>
                        <div class="col-6">
                            <p class="seat-icon"> <span> <b class="seatnumber">S2</b></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">
                            <p class="seat-icon"> <span> <b class="seatnumber">S3</b></span></p>
                        </div>
                        <div class="col-6">
                            <p class="seat-icon selected-seat"> <span> <b class="seatnumber">S4</b></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">
                            <p class="seat-icon"> <span> <b class="seatnumber">S5</b></span></p>
                        </div>
                        <div class="col-6">
                            <p class="seat-icon"> <span> <b class="seatnumber">S6</b></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">
                            <p class="seat-icon"> <span> <b class="seatnumber">S7</b></span></p>
                        </div>
                        <div class="col-6">
                            <p class="seat-icon selected-seat"> <span> <b class="seatnumber">S8</b></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">
                            <p class="seat-icon"> <span> <b class="seatnumber">S9</b></span></p>
                        </div>
                        <div class="col-6">
                            <p class="seat-icon"> <span> <b class="seatnumber">S10</b></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">
                            <p class="seat-icon"> <span> <b class="seatnumber">S11</b></span></p>
                        </div>
                        <div class="col-6">
                            <p class="seat-icon selected-seat"> <span> <b class="seatnumber">S12</b></span></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>